.jumbotron
  .page-header
    %p
      %h1
        %span.glyphicon.glyphicon-flash
        %strong
          Zapfoto
      %p Zapfoto is very rare
      %p Zapfoto might be the most important app ever
      %p Jesus used Zapfoto
= link_to "LOGIN", new_user_session_path, class: "btn btn-primary btn-block"
= link_to "SIGN UP", new_user_registration_path, class: "btn btn-primary btn-block"
