// // Global Colors
// $body-bg: #FFF400
// $brand-primary: #000
// $navbar-default-link-color: #FFF
// $navbar-default-link-hover-color: #FFF
// $navbar-default-link-active-color: #FFF
// $navbar-default-bg: #620CAC
// $navbar-default-brand-color: #FFF
// $btn-default-bg: #620CAC
// $btn-primary-bg: #BE008A
// $btn-success-bg: #3B5998
// $state-info-bg: #8E53C0
// $state-info-border: #7531B1
// $state-info-text: #FFF

// Global Colors B&W
$body-bg: #FFF
$brand-primary: #FFF
$navbar-default-link-color: #FFF
$navbar-default-link-hover-color: #FFF
$navbar-default-link-active-color: #FFF
$navbar-default-bg: #000
$navbar-default-brand-color: #FFF
$btn-default-border: #BE008A
$btn-default-bg: #000
$btn-primary-bg: #BE008A
$btn-success-bg: #3B5998
$state-info-bg: #620CAC
$state-info-border: #4B0985
$state-info-text: #FFF

@import "bootstrap-sprockets"
@import "bootstrap"
@import "photos"
@import "rolls"

// application.html.haml Style
body
  padding-top: 80px

h1.jumbo
  font-size: 72px

.avatar
  border-radius: 100%
  height: 30px

.alert
  li
    list-style-type: none

.hidden
  display: none

.pwinty
  color: #BE008A
