// Global Colors B&W
$body-bg: #FFF
$brand-primary: #FFF
$navbar-default-link-color: #FFF
$navbar-default-link-hover-color: #FFF
$navbar-default-link-active-color: #FFF
$navbar-default-bg: #000
$navbar-default-brand-color: #FFF
$btn-default-border: #BE008A
$btn-default-bg: #000
$btn-primary-bg: #BE008A
$btn-success-bg: #3B5998
$state-info-bg: #620CAC
$state-info-border: #4B0985
$state-info-text: #FFF

@import "bootstrap-sprockets"
@import "bootstrap"
@import "photos"
@import "rolls"

// application.html.haml Style
body
  padding-top: 70px
  padding-bottom: 200px

h1.jumbo
  font-size: 72px

.avatar
  border-radius: 100%
  height: 30px

.alert
  li
    list-style-type: none

.hidden
  display: none

.pwinty
  color: #BE008A

.jumbotron
  background: none
  position: relative
  padding-bottom: 56.25%
  padding-top: 25px
  height: 0
  .jumbo-header
    position: absolute
    width: 350px
    margin-left: -175px
    bottom: 15%
    left: 50%
    h1
      color: #FFF
      text-shadow: 2px 5px 5px #000
    h3
      color: #FFF
  iframe
    z-index: -1
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.footer
  color: #FFF
  text-align: left
  li
    list-style-type: none
    display: inline-block
