$body-bg: #FFF400
$brand-primary: #000
$navbar-default-link-color: #FFF
$navbar-default-link-hover-color: #B4F200
$navbar-default-link-active-color: #B4F200
$navbar-default-bg: #620CAC
$navbar-default-brand-color: #FFF
$btn-primary-bg: #BE008A
$alert-info-bg: #B4F200
$alert-info-border: #CFF55F

@import "bootstrap-sprockets"
@import "bootstrap"
@import "photos"
@import "rolls"

body
  padding-top: 60px

h1.jumbo
  font-size: 72px
